<section class="compos block waves">
	<div class="container">
		<h2 class="title">Состав <span class="lime">Lipocarnite</span> —<br>
			это уникальное сочетание эффективных компонентов</h2>
			<div class="compos-content">
				<div class="compos-box">
					<div class="compos-box__img"><img src="img/compos-1.png" alt=""></div>
					<div class="box-text">	<div class="compos-box__title">Экстракт белой фасоли</div>
					<div class="compos-box__text">Ускоряет сжигание жиров,<br>
						нормализуя обмен веществ<br>
						<span class="text-nowrap">в организме</span></div></div>
				</div>
				<div class="compos-box">
					<div class="compos-box__img"><img src="img/compos-2.png" alt=""></div>
					<div class="box-text">
					<div class="compos-box__title">Гарциния камбоджийская</div>
					<div class="compos-box__text">Укрепляет иммунитет и выводит
						<span class="text-nowrap">из организма</span> токсины и лишнюю воду, создавая ощущение легкости</div></div>
				</div>
				<div class="compos-box">
					<div class="compos-box__img compos-box__img3"><img src="img/compos-3.png" alt=""></div><div class="box-text">
					<div class="compos-box__title">L-карнитин</div>
					<div class="compos-box__text">Позволяет закрепить<br>
						результат похудения, <span class="text-nowrap">не допуская</span> возврата веса</div></div>
				</div>
			</div>
	</div>
</section>