<section class="block intro">
    <div class="container">
        <div class="intro-wrap">
            <div class="intro-img">
                <img src="img/intro-people.png" alt="people">
            </div>
            <div class="intro-content">
                <h1 class="intro-title">Lipocarnite</h1>
                <h3 class="intro-subtitle">Стройная фигура без&nbsp;вреда для&nbsp;здоровья</h3>
            </div>
            <div class="intro-product">
                <img src="img/product.png" alt="product">
            </div>
            <div class="form intro-form">
                <span class="form-title">Закажите<br> сейчас по акции</span>
                <div class="price">
                    <div class="price-item price-old">
                        <p class="price-title price-title_old">Старая цена</p>
                        <div class="price-content price-content_old">
                            <span class="x_price_previous">1980</span><span class="x_currency">руб</span>
                        </div>
                    </div>
                    <div class="price-item price-new">
                        <p class="price-title price-title_new">Ваша цена</p>
                        <div class="price-content price-content_new">
                            <span class="x_price_current">990</span><span class="x_currency">руб</span>
                        </div>
                    </div>
                </div>
                <div class="timer-box">
                    <span class="timer-title">Осталось до конца акции</span>
                    <div class="timer-wrap">
                        <div class="timer-item">
                            <div class="timer-item__content">
                                <span class="hours">00</span>
                            </div>
                            <span class="timer-item__text">Дни</span>
                        </div>
                        <span class="timer-separator"></span>
                        <div class="timer-item">
                            <div class="timer-item__content">
                                <span class="minutes">00</span>
                            </div>
                            <span class="timer-item__text">Часы</span>
                        </div>
                        <span class="timer-separator"></span>
                        <div class="timer-item">
                            <div class="timer-item__content">
                                <span class="seconds">01</span>
                            </div>
                            <span class="timer-item__text">Мин</span>
                        </div>
                    </div>
                </div>
                <button class="button form-button ever-popup-btn">
                    <span class="button__text-1">Заказать</span>
                    <span class="button__text-2">со скидкой</span>
                </button>
            </div>
        </div>
        <ul class="intro-list">
            <li class="intro-list__item">Безопасный состав </li>
            <li class="intro-list__item">Легкое использование</li>
            <li class="intro-list__item">Быстрый результат</li>
        </ul>
    </div>
</section>


