<section class="block use">
	<div class="container">
		<h2 class="title">Как принимать <span class="lime">Lipocarnite</span>?</h2>
		<div class="use-content">
			<div class="use-box">
				<div class="use-box__title">Употреплять</div>
				<div class="use-box__subtitle">по <span class="lime">1 - 2 капсулы</span> во время еды</div>
			</div>
			<div class="use-box">
				<div class="use-box__title">Повторять</div>
				<div class="use-box__subtitle"><span class="lime">2 раза</span> в день</div>
			</div>
			<div class="use-box">
				<div class="use-box__title">Рекомендованный курс:</div>
				<div class="use-box__subtitle"><span class="lime">от 30 дней</span></div>
			</div>
			<div class="use-pack"><img src="img/product.png" alt="Lipocarnite"></div>
		</div>
	</div>
</section>