<section class="block diet waves">
	<div class="container">
		<h2 class="title">Почему похудение<br> так часто подрывает здоровье<br> и вес возвращается?</h2>
		<div class="diet-content">
			<div class="diet-left">
				<div class="diet-box">
					<div class="diet-box__title">Голодный организм старается восполнять недостаток калорий</div>
					<div class="diet-box__subtitle">Не голодайте</div>
				</div>
				<div class="diet-box">
					<div class="diet-box__title">Организм страдает<br>
						от недостатка витаминов</div>
					<div class="diet-box__subtitle">Помните<br>
						про витамины</div>
				</div>
				<div class="diet-box">
					<div class="diet-box__title">Большинство жиросжигающих препаратов подрывают здоровье</div>
					<div class="diet-box__subtitle">Избегайте<br>
						препаратов<br>
						<span class="text-nowrap">на основе</span> “химии”</div>
				</div>
			</div>
			<div class="diet-bottom">
				<div class="diet-bottom__text">Мы создали решение,<br>
					которые поможет вам снизить вес,<br>
					избегая всех популярных ошибок похудения
					</div>
					<button class="diet-bottom__btn button ever-popup-btn">
						<span class="button__text-1">Заказать</span>
						<span class="button__text-2">со скидкой</span>
				</button>
			</div>
		</div>
	</div>
</section>