<section class="block rules">
    <div class="container">
        <h2 class="title rules-title">Наш подход</h2>
        <div class="rules-box">
            <div class="rules-wrap">
                <div class="rules-item">
                    <h4 class="rules-item__title">Эффективность</h4>
                    <p class="rules-item__text">
                        Помогает расщепить жировые клетки и&nbsp;приводит мышцы в тонус
                    </p>
                </div>
                <div class="rules-item">
                    <h4 class="rules-item__title">Бережность</h4>
                    <p class="rules-item__text">
                        Не вредит здоровью и&nbsp;не нагружает внутренние органы
                    </p>
                </div>
                <div class="rules-item">
                    <h4 class="rules-item__title">Оздоровление</h4>
                    <p class="rules-item__text">
                        Способствует усилению иммунитета и&nbsp;очищению организма
                    </p>
                </div>
            </div>
            <div class="rules-img">
                <img src="img/apple.png" alt="apple">
            </div>
            <div class="rules-circle"></div>
        </div>
    </div>
</section>

