.rules {
  position: relative;
  padding: 60px 0;
}

.rules:after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 990px;
  height: 370px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: linear-gradient(rgba(255, 255, 255, 0.4) 0, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
}

.rules-title {
  margin-bottom: 50px;
}

.rules-box {
  position: relative;
}


.rules-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.rules-item {
  position: relative;
  text-align: center;
  margin-top: 250px;
  color: #3e3d4b;
  max-width: 370px;
}

.rules-item::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../img/rules-arrow.png") no-repeat center;
}

.rules-item:nth-child(1)::after {
  top: 10px;
  right: 19px;
  transform: rotate(-90deg);
}

.rules-item:nth-child(2)::after {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -40px;
}

.rules-item:nth-child(3)::after {
  top: 10px;
  left: 19px;
  transform: rotate(90deg);
}


.rules-item__title {
  display: inline-block;
  position: relative;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 26px;
}

.rules-item__title:after {
  content: "";
  position: absolute;
  width: 93px;
  height: 2px;
  background-color: #7fc31c;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.rules-item__text {
  font-size: 20px;
  line-height: 1.5;
}

.rules-img {
  position: relative;
  text-align: center;
  max-width: 493px;
  margin: -175px auto 0;
}

.rules-circle {
  position: absolute;
  z-index: -1;
  top: 40px;
  left: calc(50% - 431px);
  width: 862px;
  height: 862px;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at center,
    #f8f8f8 0%,
    #f8f8f8 48%,
    #ffffff 49%,
    #f8f8f8 49.2%,
    #f8f8f8 54%,
    #ffffff 55%,
    #f8f8f8 55.2%,
    #f8f8f8 60%,
    #ffffff 61%,
    #f8f8f8 61.2%,
    #f8f8f8 66%,
    #ffffff 67%,
    #f8f8f8 67.2%,
    #f8f8f8 100%
  );
}


.rules-circle:before {
  position: absolute;
  content: "";
  width: 920px;
  height: 920px;
  background: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  z-index: -1;
}

@media screen and (min-width: 640px){
  .rules-item:nth-child(2n) {
    margin-top: 0;
  }
}

@include r(1219) {
  .rules-title {
    margin-bottom: 30px;
  }

  .rules-item {
    max-width: 310px;
  }

  .rules-item__title {
    font-size: 26px;
  }

  .rules-item__text {
    font-size: 18px;
  }

  .rules-img {
    max-width: 360px;
  }

}

@include r(1023) {
  .rules:after {
    height: 240px;
  }

  .rules-title {
    margin-bottom: 20px;
  }

  .rules-item {
    margin-top: 200px;
    max-width: 230px;
  }

  .rules-item:nth-child(1)::after {
    right: 0;
  }

  .rules-item:nth-child(2)::after {
    bottom: -25px;
  }

  .rules-item:nth-child(3)::after {
    left: 0;
  }

  .rules-item__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .rules-item__text {
    font-size: 16px;
  }

  .rules-img {
    max-width: 300px;
  }

  .rules-circle {
    width: 750px;
    height: 750px;
    left: calc(50% - 375px);
  }

  .rules-circle:before  {
    width: 800px;
    height: 800px;
  }

}

@include r(767) {

  .rules-item {
    margin-top: 40px;
  }

  .rules-item:nth-child(1)::after,
  .rules-item:nth-child(3)::after{
    top: inherit;
    bottom: -20px;
  }

  .rules-item:nth-child(1)::after {
    transform: rotate(-45deg);
  }

  .rules-item:nth-child(3)::after {
    top: inherit;
    bottom: -20px;
    transform: rotate(45deg);
  }

  .rules-img {
    margin: 0 auto;
  }

  .rules-circle {
    display: none;
  }
}

@media screen and (max-width: 639px){
  .rules-wrap {
    flex-direction: column;
    align-items: center;
  }

  .rules-item {
    margin-top: 0;
    max-width: 100%;
  }

  .rules-item + .rules-item{
    margin-top: 20px;
  }

  .rules-img,
  .rules-item::after{
    display: none;
  }
}