.last-section .intro-list {
  display: none;
}

.last-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("../img/last-section__line.png") no-repeat center;
  transform: rotate(180deg);
}

.last-section .intro-wrap {
  padding: 183px 0 167px;
}

.last-section .form {
  margin-top: 110px;
}

@include r(1219) {
  .last-section .intro-wrap {
    padding-top: 60px;
  }


}

@include r(1023) {
  .last-section .intro-wrap {
    padding: 0;
  }

  .last-section .form {
    margin-top: 0;
  }

}