.last-section .intro-list {
  display: none;
}

.last-section .intro-wrap {
  padding: 183px 0 167px;
}

.last-section .form {
  margin-top: 110px;
}

@include r(1219) {
  .last-section .intro-wrap {
    padding-top: 60px;
  }


}

@include r(1023) {
  .last-section .intro-wrap {
    padding: 0;
  }

  .last-section .form {
    margin-top: 0;
  }

}