<section class="deliv block waves">
	<div class="container">
		<h2 class="title">Как заказать доставку <span class="span lime">Lipocarnite</span>?</h2>
		<div class="deliv-content">
			<div class="deliv-box">
				<div class="deliv-box__img"><img src="img/deliv-1.png" alt="deliv"></div>
				<div class="deliv-box__title">Заполните форму заказа</div>
				<div class="deliv-box__text">Укажите имя<br>
					<span class="text-nowrap">и номер</span> телефона</div>
			</div>
			<div class="deliv-box">
				<div class="deliv-box__img deliv-arrow"><img src="img/deliv-2.png" alt="deliv"></div>
				<div class="deliv-box__title">Примите звонок оператора</div>
				<div class="deliv-box__text">Специалист проконсультирует<br>
					<span class="text-nowrap">и уточнит</span> адресные данные </div>
			</div>
			<div class="deliv-box">
				<div class="deliv-box__img"><img src="img/deliv-3.png" alt="deliv"></div>
				<div class="deliv-box__title">Оплатите после получения</div>
				<div class="deliv-box__text">Предоплата <span class="text-nowrap">не требуется</span></div>
			</div>
		</div>
	</div>
</section>